In [85]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option('display.max_columns', 50)

train_df = pd.read_csv('training_data.csv', index_col = 0)

_columns = ['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1',
       'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6',
       'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5',
       'PAY_AMT6', 'target']
train_df.columns = _columns
train_df.drop('ID', axis=0, inplace=True)

for col in _columns:
    try:
        train_df[col] = train_df[col].astype('float64')
    except:
        continue

In [86]:
conditions = [
    train_df['EDUCATION'].eq(1),
    train_df['EDUCATION'].eq(2),
    train_df['EDUCATION'].eq(3)
]
choices = [
    3,
    2,
    1
]

train_df['EDUCATION'] = np.select(conditions, choices, 4)
train_df['EDUCATION'].value_counts()

2    10516
3     7919
1     3713
4      351
Name: EDUCATION, dtype: int64

In [87]:
conditions = [
    train_df['MARRIAGE'].eq(1),
    train_df['MARRIAGE'].eq(2),
]
choices = [
    1,
    2
]

train_df['MARRIAGE'] = np.select(conditions, choices, 3)
train_df['MARRIAGE'].value_counts()

2    12026
1    10195
3      278
Name: MARRIAGE, dtype: int64

In [88]:
train_df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,target
28835,220000.0,2.0,3,2,36.0,0.0,0.0,0.0,0.0,0.0,0.0,222598.0,222168.0,217900.0,221193.0,181859.0,184605.0,10000.0,8018.0,10121.0,6006.0,10987.0,143779.0,1.0
25329,200000.0,2.0,1,2,29.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,326.0,326.0,326.0,326.0,326.0,326.0,326.0,326.0,326.0,326.0,326.0,326.0,0.0
18894,180000.0,2.0,3,2,27.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
690,80000.0,1.0,2,2,32.0,0.0,0.0,0.0,0.0,0.0,0.0,51372.0,51872.0,47593.0,43882.0,42256.0,42527.0,1853.0,1700.0,1522.0,1548.0,1488.0,1500.0,0.0
6239,10000.0,1.0,2,2,27.0,0.0,0.0,0.0,0.0,0.0,0.0,8257.0,7995.0,4878.0,5444.0,2639.0,2697.0,2000.0,1100.0,600.0,300.0,300.0,1000.0,1.0

In [89]:
X = train_df.drop(columns=['target'])
y = train_df['target']

In [90]:
for i in X.columns:
    X[i+'_PAY_0'] = X[i] * X['PAY_0']
#     X[i+'_TOTAL_PAY'] = X[i] * X['TOTAL_PAY']

In [91]:
X

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,LIMIT_BAL_PAY_0,SEX_PAY_0,EDUCATION_PAY_0,MARRIAGE_PAY_0,AGE_PAY_0,PAY_0_PAY_0,PAY_2_PAY_0,PAY_3_PAY_0,PAY_4_PAY_0,PAY_5_PAY_0,PAY_6_PAY_0,BILL_AMT1_PAY_0,BILL_AMT2_PAY_0,BILL_AMT3_PAY_0,BILL_AMT4_PAY_0,BILL_AMT5_PAY_0,BILL_AMT6_PAY_0,PAY_AMT1_PAY_0,PAY_AMT2_PAY_0,PAY_AMT3_PAY_0,PAY_AMT4_PAY_0,PAY_AMT5_PAY_0,PAY_AMT6_PAY_0
28835,220000.0,2.0,3,2,36.0,0.0,0.0,0.0,0.0,0.0,0.0,222598.0,222168.0,217900.0,221193.0,181859.0,184605.0,10000.0,8018.0,10121.0,6006.0,10987.0,143779.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25329,200000.0,2.0,1,2,29.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,326.0,326.0,326.0,326.0,326.0,326.0,326.0,326.0,326.0,326.0,326.0,326.0,-200000.0,-2.0,-1.0,-2.0,-29.0,1.0,1.0,1.0,1.0,1.0,1.0,-326.0,-326.0,-326.0,-326.0,-326.0,-326.0,-326.0,-326.0,-326.0,-326.0,-326.0,-326.0
18894,180000.0,2.0,3,2,27.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-360000.0,-4.0,-6.0,-4.0,-54.0,4.0,4.0,4.0,4.0,4.0,4.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
690,80000.0,1.0,2,2,32.0,0.0,0.0,0.0,0.0,0.0,0.0,51372.0,51872.0,47593.0,43882.0,42256.0,42527.0,1853.0,1700.0,1522.0,1548.0,1488.0,1500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6239,10000.0,1.0,2,2,27.0,0.0,0.0,0.0,0.0,0.0,0.0,8257.0,7995.0,4878.0,5444.0,2639.0,2697.0,2000.0,1100.0,600.0,300.0,300.0,1000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16247,40000.0,2.0,2,1,38.0,0.0,0.0,3.0,2.0,2.0,2.0,35183.0,39197.0,39477.0,39924.0,39004.0,41462.0,4600.0,1200.0,1400.0,0.0,3069.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2693,350000.0,1.0,3,1,42.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,3800.0,3138.0,4150.0,3750.0,1362.0,8210.0,3138.0,4160.0,3750.0,2272.0,8210.0,9731.0,-350000.0,-1.0,-3.0,-1.0,-42.0,1.0,1.0,1.0,1.0,1.0,1.0,-3800.0,-3138.0,-4150.0,-3750.0,-1362.0,-8210.0,-3138.0,-4160.0,-3750.0,-2272.0,-8210.0,-9731.0
8076,100000.0,2.0,1,2,46.0,1.0,-1.0,2.0,2.0,-1.0,0.0,0.0,203.0,203.0,0.0,7856.0,16544.0,203.0,0.0,0.0,7856.0,10000.0,865.0,100000.0,2.0,1.0,2.0,46.0,1.0,-1.0,2.0,2.0,-1.0,0.0,0.0,203.0,203.0,0.0,7856.0,16544.0,203.0,0.0,0.0,7856.0,10000.0,865.0
20213,20000.0,2.0,1,1,50.0,-1.0,-1.0,-1.0,-1.0,-2.0,-2.0,5141.0,3455.0,6906.0,0.0,0.0,0.0,3754.0,6906.0,290.0,0.0,0.0,0.0,-20000.0,-2.0,-1.0,-1.0,-50.0,1.0,1.0,1.0,1.0,2.0,2.0,-5141.0,-3455.0,-6906.0,-0.0,-0.0,-0.0,-3754.0,-6906.0,-290.0,-0.0,-0.0,-0.0
7624,20000.0,2.0,3,2,25.0,1.0,2.0,2.0,2.0,2.0,2.0,11729.0,12236.0,17994.0,17412.0,18422.0,18768.0,1000.0,6000.0,0.0,1600.0,800.0,800.0,20000.0,2.0,3.0,2.0,25.0,1.0,2.0,2.0,2.0,2.0,2.0,11729.0,12236.0,17994.0,17412.0,18422.0,18768.0,1000.0,6000.0,0.0,1600.0,800.0,800.0

In [92]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, test_size=0.2)


from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_train = pd.DataFrame(data = X_train,
                      columns = X.columns)
X_test = scaler.transform(X_test)
X_test = pd.DataFrame(data = X_test,
                     columns = X.columns)

In [93]:
from imblearn.over_sampling import SMOTE

sm = SMOTE(sampling_strategy='minority', random_state=42)
X_train, y_train = sm.fit_sample(X_train, y_train)

In [11]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.neighbors import KNeighborsClassifier

bg_knn = BaggingClassifier(
            base_estimator=KNeighborsClassifier(n_neighbors = 82,
                                          algorithm = 'ball_tree',
                                          p = 2,
                                            n_jobs = -1), 
            n_estimators= 100,
            max_samples= 0.5,
            max_features= .4,
            oob_score= True, n_jobs=-1
                )
# {'rf_max_depth': 10, 'rf_max_leaf_nodes': 14, 'rf_max_features': 0.14612189898099304, 'rf_min_samples_leaf': 8, 'rf_criterion': 'gini'}

bg_knn.fit(X_train, y_train)
y_train_pred = bg_knn.predict(X_train)
y_test_pred = bg_knn.predict(X_test)


from sklearn.metrics import precision_score, recall_score, accuracy_score, f1_score

print('Training Precision: ', precision_score(y_train, y_train_pred))
print('Testing Precision: ', precision_score(y_test, y_test_pred))
print('\n\n')

print('Training Recall: ', recall_score(y_train, y_train_pred))
print('Testing Recall: ', recall_score(y_test, y_test_pred))
print('\n\n')

print('Training Accuracy: ', accuracy_score(y_train, y_train_pred))
print('Testing Accuracy: ', accuracy_score(y_test, y_test_pred))
print('\n\n')

print('Training F1-Score: ', f1_score(y_train, y_train_pred))
print('Testing F1-Score: ', f1_score(y_test, y_test_pred))

Training Precision:  0.7618723982669272
Testing Precision:  0.4806378132118451



Training Recall:  0.6411209608235631
Testing Recall:  0.6224188790560472



Training Accuracy:  0.7203674578209894
Testing Accuracy:  0.7626666666666667



Training F1-Score:  0.6963003222174774
Testing F1-Score:  0.5424164524421594

In [95]:
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, test_size=0.2)
from sklearn.linear_model import LogisticRegression




from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

rfc = RandomForestClassifier(max_depth=5,
                            max_leaf_nodes=39,
                            max_features = .2479,
                            min_samples_leaf=8,
                            max_samples = 0.2647,
                            criterion='entropy')


# {'rf_max_depth': 5, 'rf_max_leaf_nodes': 39, 'rf_max_features': 0.24795749696390704, 'rf_min_samples_leaf': 8, 'rf_max_samples': 0.26471291186578816, 'rf_criterion': 'entropy'}
# parameters = {'max_leaf_nodes': range(10,100,1)}
#     'min_samples_split': range(2,10,1)}
#     'n_estimators': range(100, 500, 50)}
#     'max_depth': range(10,25,1)}
#              'min_samples_leaf': range(1,10,1),
#              'class_weight': ['balanced',None,'balanced_subsample']}
# grid_tree = GridSearchCV(rfc, parameters, cv=5, scoring='f1', n_jobs=-1,verbose=1)

rfc.fit(X_train, y_train)
y_train_pred = rfc.predict(X_train)
y_test_pred = rfc.predict(X_test)


from sklearn.metrics import precision_score, recall_score, accuracy_score, f1_score

print('Training Precision: ', precision_score(y_train, y_train_pred))
print('Testing Precision: ', precision_score(y_test, y_test_pred))
print('\n\n')

print('Training Recall: ', recall_score(y_train, y_train_pred))
print('Testing Recall: ', recall_score(y_test, y_test_pred))
print('\n\n')

print('Training Accuracy: ', accuracy_score(y_train, y_train_pred))
print('Testing Accuracy: ', accuracy_score(y_test, y_test_pred))
print('\n\n')

print('Training F1-Score: ', f1_score(y_train, y_train_pred))
print('Testing F1-Score: ', f1_score(y_test, y_test_pred))

Training Precision:  0.805929648241206
Testing Precision:  0.5382436260623229



Training Recall:  0.5732770946525594
Testing Recall:  0.56047197640118



Training Accuracy:  0.7176150986559908
Testing Accuracy:  0.792



Training F1-Score:  0.6699807836912023
Testing F1-Score:  0.5491329479768786

In [9]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier

In [96]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier

bc_dtc = BaggingClassifier(
            base_estimator=DecisionTreeClassifier(ccp_alpha=0.0, class_weight='balanced', criterion='gini',
                       max_depth=10, max_features=0.1461, max_leaf_nodes=14,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=8, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=42, splitter='best'), 
            n_estimators= 300,
            max_samples= 0.66,
            max_features= .8,
            oob_score= True, n_jobs=-1
                )
# {'rf_max_depth': 10, 'rf_max_leaf_nodes': 14, 'rf_max_features': 0.14612189898099304, 'rf_min_samples_leaf': 8, 'rf_criterion': 'gini'}

bc_dtc.fit(X_train, y_train)
y_train_pred = bc_dtc.predict(X_train)
y_test_pred = bc_dtc.predict(X_test)


from sklearn.metrics import precision_score, recall_score, accuracy_score, f1_score

print('Training Precision: ', precision_score(y_train, y_train_pred))
print('Testing Precision: ', precision_score(y_test, y_test_pred))
print('\n\n')

print('Training Recall: ', recall_score(y_train, y_train_pred))
print('Testing Recall: ', recall_score(y_test, y_test_pred))
print('\n\n')

print('Training Accuracy: ', accuracy_score(y_train, y_train_pred))
print('Testing Accuracy: ', accuracy_score(y_test, y_test_pred))
print('\n\n')

print('Training F1-Score: ', f1_score(y_train, y_train_pred))
print('Testing F1-Score: ', f1_score(y_test, y_test_pred))

Training Precision:  0.7876429776861054
Testing Precision:  0.5082536924413553



Training Recall:  0.6005862167572205
Testing Recall:  0.5752212389380531



Training Accuracy:  0.7193308550185874
Testing Accuracy:  0.7782222222222223



Training F1-Score:  0.6815121278494362
Testing F1-Score:  0.5396678966789668

In [66]:
from sklearn.linear_model import LogisticRegression

In [97]:
from sklearn.linear_model import LogisticRegression
bc_lr1 = BaggingClassifier(
            base_estimator=LogisticRegression(solver='saga', penalty='l2', C=.04108295837286748, max_iter = 1000, tol = 1e-3), 
            n_estimators= 300,
            max_samples= 0.66,
            max_features= .8,
            oob_score= True, n_jobs=-1
                )

# {'lr_C': 0.04108295837286748, 'lr_solver': 'saga'}
bc_lr1.fit(X_train, y_train)
y_train_pred = bc_lr1.predict(X_train)
y_test_pred = bc_lr1.predict(X_test)


from sklearn.metrics import precision_score, recall_score, accuracy_score, f1_score

print('Training Precision: ', precision_score(y_train, y_train_pred))
print('Testing Precision: ', precision_score(y_test, y_test_pred))
print('\n\n')

print('Training Recall: ', recall_score(y_train, y_train_pred))
print('Testing Recall: ', recall_score(y_test, y_test_pred))
print('\n\n')

print('Training Accuracy: ', accuracy_score(y_train, y_train_pred))
print('Testing Accuracy: ', accuracy_score(y_test, y_test_pred))
print('\n\n')

print('Training F1-Score: ', f1_score(y_train, y_train_pred))
print('Testing F1-Score: ', f1_score(y_test, y_test_pred))

Training Precision:  0.7674696396575752
Testing Precision:  0.5157894736842106



Training Recall:  0.5511867314841292
Testing Recall:  0.5781710914454278



Training Accuracy:  0.6920932227623677
Testing Accuracy:  0.782



Training F1-Score:  0.6415910793043189
Testing F1-Score:  0.5452016689847011

In [28]:
import sklearn

In [98]:
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, test_size=0.2)
from sklearn.linear_model import LogisticRegression




from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

rfc_overfit = RandomForestClassifier(max_depth=69,
                            max_leaf_nodes=84,
                            max_features = .10385749840650846,
                            min_samples_leaf=5,
                            max_samples = 0.46897494221697006,
                            criterion='entropy')

# {'rf_max_depth': 69, 'rf_max_leaf_nodes': 84, 'rf_max_features': 0.10385749840650846, 'rf_min_samples_leaf': 5, 'rf_max_samples': 0.46897494221697006, 'rf_criterion': 'entropy'}
# {'rf_max_depth': 5, 'rf_max_leaf_nodes': 39, 'rf_max_features': 0.24795749696390704, 'rf_min_samples_leaf': 8, 'rf_max_samples': 0.26471291186578816, 'rf_criterion': 'entropy'}
# parameters = {'max_leaf_nodes': range(10,100,1)}
#     'min_samples_split': range(2,10,1)}
#     'n_estimators': range(100, 500, 50)}
#     'max_depth': range(10,25,1)}
#              'min_samples_leaf': range(1,10,1),
#              'class_weight': ['balanced',None,'balanced_subsample']}
# grid_tree = GridSearchCV(rfc, parameters, cv=5, scoring='f1', n_jobs=-1,verbose=1)

rfc_overfit.fit(X_train, y_train)
y_train_pred = rfc_overfit.predict(X_train)
y_test_pred = rfc_overfit.predict(X_test)


from sklearn.metrics import precision_score, recall_score, accuracy_score, f1_score

print('Training Precision: ', precision_score(y_train, y_train_pred))
print('Testing Precision: ', precision_score(y_test, y_test_pred))
print('\n\n')

print('Training Recall: ', recall_score(y_train, y_train_pred))
print('Testing Recall: ', recall_score(y_test, y_test_pred))
print('\n\n')

print('Training Accuracy: ', accuracy_score(y_train, y_train_pred))
print('Testing Accuracy: ', accuracy_score(y_test, y_test_pred))
print('\n\n')

print('Training F1-Score: ', f1_score(y_train, y_train_pred))
print('Testing F1-Score: ', f1_score(y_test, y_test_pred))

Training Precision:  0.8104546258623739
Testing Precision:  0.5127528583992964



Training Recall:  0.6550614812696597
Testing Recall:  0.5732546705998034



Training Accuracy:  0.7509293680297398
Testing Accuracy:  0.7804444444444445



Training F1-Score:  0.7245196489285998
Testing F1-Score:  0.541318477251625

In [108]:
from sklearn.ensemble import VotingClassifier

voting_clf = VotingClassifier(estimators = [('rfc_broad', rfc), ('bagged_dtc', bc_dtc), ('rfc_overfit', rfc_overfit), ('knn_clf', bg_knn), ('bagged_lr', bc_lr1)],
                             voting='hard')

voting_clf.fit(X_train, y_train)
y_train_pred = voting_clf.predict(X_train)
y_test_pred = voting_clf.predict(X_test)


from sklearn.metrics import precision_score, recall_score, accuracy_score, f1_score

print('Training Precision: ', precision_score(y_train, y_train_pred))
print('Testing Precision: ', precision_score(y_test, y_test_pred))
print('\n\n')

print('Training Recall: ', recall_score(y_train, y_train_pred))
print('Testing Recall: ', recall_score(y_test, y_test_pred))
print('\n\n')

print('Training Accuracy: ', accuracy_score(y_train, y_train_pred))
print('Testing Accuracy: ', accuracy_score(y_test, y_test_pred))
print('\n\n')

print('Training F1-Score: ', f1_score(y_train, y_train_pred))
print('Testing F1-Score: ', f1_score(y_test, y_test_pred))

Training Precision:  0.8099874674636074
Testing Precision:  0.5422932330827067



Training Recall:  0.600657706605662
Testing Recall:  0.567354965585054



Training Accuracy:  0.7298756076637117
Testing Accuracy:  0.794



Training F1-Score:  0.6897910594803168
Testing F1-Score:  0.5545410860163382

In [109]:
test_df = pd.read_csv('holdout_data.csv', index_col=0)
test_df.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23
5501,180000,2,2,1,44,0,0,0,0,0,0,161186,167080,170788,174764,162667,166953,10000,8000,7000,6000,7000,10000
28857,130000,2,2,1,48,-2,-2,-2,-2,-2,-2,0,1240,1487,1279,749,440,1240,1487,1279,749,440,849
11272,60000,2,1,1,43,-1,3,2,0,0,-1,495,330,495,330,165,340,0,330,0,0,340,0
8206,240000,1,1,1,42,0,0,0,0,0,0,72339,91045,91027,51508,51127,0,20000,2213,1030,1023,6790,10893
6362,100000,2,2,1,28,2,0,0,0,0,2,73073,74739,70844,63924,57326,59654,3500,3003,1910,2400,3300,0

In [110]:
_columns_test = ['LIMIT_BAL',
 'SEX',
 'EDUCATION',
 'MARRIAGE',
 'AGE',
 'PAY_0',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'BILL_AMT1',
 'BILL_AMT2',
 'BILL_AMT3',
 'BILL_AMT4',
 'BILL_AMT5',
 'BILL_AMT6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6']

In [111]:
test_df.columns = _columns_test
test_df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
5501,180000,2,2,1,44,0,0,0,0,0,0,161186,167080,170788,174764,162667,166953,10000,8000,7000,6000,7000,10000
28857,130000,2,2,1,48,-2,-2,-2,-2,-2,-2,0,1240,1487,1279,749,440,1240,1487,1279,749,440,849
11272,60000,2,1,1,43,-1,3,2,0,0,-1,495,330,495,330,165,340,0,330,0,0,340,0
8206,240000,1,1,1,42,0,0,0,0,0,0,72339,91045,91027,51508,51127,0,20000,2213,1030,1023,6790,10893
6362,100000,2,2,1,28,2,0,0,0,0,2,73073,74739,70844,63924,57326,59654,3500,3003,1910,2400,3300,0

In [112]:
conditions = [
    test_df['EDUCATION'].eq(1),
    test_df['EDUCATION'].eq(2),
    test_df['EDUCATION'].eq(3)
]
choices = [
    3,
    2,
    1
]

test_df['EDUCATION'] = np.select(conditions, choices, 4)
test_df['EDUCATION'].value_counts()

2    3514
3    2666
1    1204
4     117
Name: EDUCATION, dtype: int64

In [113]:
conditions = [
    test_df['MARRIAGE'].eq(1),
    test_df['MARRIAGE'].eq(2),
]
choices = [
    1,
    2
]

test_df['MARRIAGE'] = np.select(conditions, choices, 3)
test_df['MARRIAGE'].value_counts()

2    3938
1    3464
3      99
Name: MARRIAGE, dtype: int64

In [114]:
for i in test_df.columns:
    test_df[i+'_PAY_0'] = test_df[i] * test_df['PAY_0']
#     X[i+'_TOTAL_PAY'] = X[i] * X['TOTAL_PAY']

In [115]:
test_df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,LIMIT_BAL_PAY_0,SEX_PAY_0,EDUCATION_PAY_0,MARRIAGE_PAY_0,AGE_PAY_0,PAY_0_PAY_0,PAY_2_PAY_0,PAY_3_PAY_0,PAY_4_PAY_0,PAY_5_PAY_0,PAY_6_PAY_0,BILL_AMT1_PAY_0,BILL_AMT2_PAY_0,BILL_AMT3_PAY_0,BILL_AMT4_PAY_0,BILL_AMT5_PAY_0,BILL_AMT6_PAY_0,PAY_AMT1_PAY_0,PAY_AMT2_PAY_0,PAY_AMT3_PAY_0,PAY_AMT4_PAY_0,PAY_AMT5_PAY_0,PAY_AMT6_PAY_0
5501,180000,2,2,1,44,0,0,0,0,0,0,161186,167080,170788,174764,162667,166953,10000,8000,7000,6000,7000,10000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
28857,130000,2,2,1,48,-2,-2,-2,-2,-2,-2,0,1240,1487,1279,749,440,1240,1487,1279,749,440,849,-260000,-4,-4,-2,-96,4,4,4,4,4,4,0,-2480,-2974,-2558,-1498,-880,-2480,-2974,-2558,-1498,-880,-1698
11272,60000,2,3,1,43,-1,3,2,0,0,-1,495,330,495,330,165,340,0,330,0,0,340,0,-60000,-2,-3,-1,-43,1,-3,-2,0,0,1,-495,-330,-495,-330,-165,-340,0,-330,0,0,-340,0
8206,240000,1,3,1,42,0,0,0,0,0,0,72339,91045,91027,51508,51127,0,20000,2213,1030,1023,6790,10893,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6362,100000,2,2,1,28,2,0,0,0,0,2,73073,74739,70844,63924,57326,59654,3500,3003,1910,2400,3300,0,200000,4,4,2,56,4,0,0,0,0,4,146146,149478,141688,127848,114652,119308,7000,6006,3820,4800,6600,0

In [116]:
X_test_ = scaler.transform(test_df)
test_df = pd.DataFrame(data = X_test_,
                     columns = test_df.columns,
                      index = test_df.index)

In [117]:
test_df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,LIMIT_BAL_PAY_0,SEX_PAY_0,EDUCATION_PAY_0,MARRIAGE_PAY_0,AGE_PAY_0,PAY_0_PAY_0,PAY_2_PAY_0,PAY_3_PAY_0,PAY_4_PAY_0,PAY_5_PAY_0,PAY_6_PAY_0,BILL_AMT1_PAY_0,BILL_AMT2_PAY_0,BILL_AMT3_PAY_0,BILL_AMT4_PAY_0,BILL_AMT5_PAY_0,BILL_AMT6_PAY_0,PAY_AMT1_PAY_0,PAY_AMT2_PAY_0,PAY_AMT3_PAY_0,PAY_AMT4_PAY_0,PAY_AMT5_PAY_0,PAY_AMT6_PAY_0
5501,0.100919,0.811629,-0.300988,-1.070825,0.922923,0.018902,0.110420,0.135825,0.184195,0.225981,0.248073,1.470684,1.630023,1.759995,2.020057,1.996010,2.133426,0.265084,0.074222,0.086751,0.073196,0.131658,0.251108,0.179607,0.035107,0.061382,0.014950,0.025530,-0.467093,-0.361213,-0.340515,-0.332498,-0.329965,-0.331437,-0.162774,-0.161853,-0.148473,-0.151015,-0.151374,-0.150270,0.085032,0.059574,0.077854,0.068343,0.056677,0.054135
28857,-0.284524,0.811629,-0.300988,-1.070825,1.355036,-1.762323,-1.558302,-1.528942,-1.516410,-1.526092,-1.479223,-0.689468,-0.667108,-0.647974,-0.649069,-0.647338,-0.643834,-0.262633,-0.173237,-0.213936,-0.250211,-0.283859,-0.242650,-0.932614,-2.094243,-1.464597,-1.083355,-2.269847,1.014352,1.232187,1.407986,1.513043,1.659999,1.771510,-0.162774,-0.189539,-0.181698,-0.182428,-0.170410,-0.161867,-0.044911,-0.024164,-0.053402,-0.021978,0.011856,-0.017268
11272,-0.824143,0.811629,1.069833,-1.070825,0.814895,-0.871711,2.613502,1.800592,0.184195,0.225981,-0.615575,-0.682835,-0.679713,-0.662083,-0.663670,-0.656872,-0.645502,-0.337333,-0.217197,-0.281159,-0.296341,-0.290193,-0.288459,-0.077059,-1.029568,-1.083102,-0.534202,-1.002608,-0.096731,-1.556263,-1.214766,-0.332498,-0.329965,0.194300,-0.168180,-0.165537,-0.154003,-0.155067,-0.153471,-0.154751,0.085032,0.050282,0.077854,0.068343,0.039360,0.054135
8206,0.563450,-1.232091,1.069833,-1.070825,0.706867,0.018902,0.110420,0.135825,0.184195,0.225981,0.248073,0.279991,0.576825,0.625554,0.123721,0.175094,-0.651173,0.867501,-0.145653,-0.227023,-0.233335,0.118356,0.299291,0.179607,0.035107,0.061382,0.014950,0.025530,-0.467093,-0.361213,-0.340515,-0.332498,-0.329965,-0.331437,-0.162774,-0.161853,-0.148473,-0.151015,-0.151374,-0.150270,0.085032,0.059574,0.077854,0.068343,0.056677,0.054135
6362,-0.515789,0.811629,-0.300988,-1.070825,-0.805526,1.800127,0.110420,0.135825,0.184195,0.225981,1.975368,0.289828,0.350963,0.338491,0.314746,0.276294,0.343793,-0.126487,-0.115637,-0.180772,-0.148526,-0.102704,-0.288459,1.035162,2.164456,1.587360,1.113255,1.364499,1.014352,-0.361213,-0.340515,-0.332498,-0.329965,1.771510,1.433255,1.506901,1.434463,1.419008,1.305594,1.422044,0.451809,0.228684,0.273864,0.357754,0.392841,0.054135

In [118]:
submission = voting_clf.predict(test_df)

In [119]:
submission_df = pd.DataFrame()
submission_df['ID'] = test_df.index
submission_df['submission'] = submission

In [120]:
submission_df.to_csv('submission-AlbertUm.csv', index=False,header=True)